<div class="center jumbotron welcome-page">
  <h1>Welcome to the Portfolio</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Sample Portfolio</a>
    I have made.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

